@{
    ViewData[Constants.Title] = MiniblogDB.Core.Properties.Resources.Offline;
}
<div class="container">
    <h1>@MiniblogDB.Core.Properties.Resources.Offline</h1>
    <p>@MiniblogDB.Core.Properties.Resources.ThePageYouRequestedCanNotBeShownBecauseYouAreOffline</p>
</div>
